@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*----------------------------------------------------
header
-------------------------------------------------------*/
.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  height: 100px;
  background: white;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  font-size: 28px;
  line-height: 100px;
  margin-left: 20px;
}

.header-right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 100px;
}

@media (min-width: 768px) and (max-width: 949px) {
  .header-right-items {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-right-items {
    display: none;
  }
}

.header-item {
  margin-right: 20px;
  font-size: 15px;
}

.main {
  height: 600px;
  background: url(../img/print3.jpg) no-repeat center center/cover;
  color: white;
}

.main-container {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.4);
  height: 600px;
}

.main-title {
  font-size: 44px;
  font-family: serif;
  padding-top: 180px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .main-title {
    padding-top: 140px;
  }
}

.main-sub-title {
  font-family: serif;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

.main-button {
  width: 300px;
  background: white;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
  border-radius: 50px;
}

/*-----------------------------------------------------
about
--------------------------------------------------*/
.about {
  padding-bottom: 100px;
}

.about-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .about-contents {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .about-left {
    text-align: center;
  }
}

.about-picture {
  border-radius: 50%;
  width: 300px;
}

.about-right {
  width: 50%;
  padding-left: 70px;
}

@media screen and (max-width: 767px) {
  .about-right {
    text-align: center;
    padding: 0;
    width: 90%;
    margin: 20px auto;
  }
}

.about-right-title {
  font-family: serif;
  font-size: 30px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .about-right-title {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.about-right-text {
  font-family: serif;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .about-right-text {
    text-align: left;
  }
}

/*---------------------------------------------------------
card
---------------------------------------------------------*/
.card__head {
  font-size: 48px;
  text-align: center;
  margin: 100px 0 80px;
  font-weight: bold;
  padding-bottom: 28px;
  position: relative;
}

.card__head::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
  bottom: 0;
  height: 4px;
  width: 60px;
}

@media (min-width: 768px) and (max-width: 949px) {
  .card__head {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .card__head {
    margin-top: 50px;
    margin-bottom: 62px;
    font-size: 34px;
  }
}

.card {
  background-color: #efefef;
  display: inline-block;
  width: 100%;
  padding: 0 40px 120px 40px;
}

@media screen and (max-width: 767px) {
  .card {
    padding: 0;
  }
}

.card__item {
  background-color: #ffffff;
  margin-bottom: 24px;
  border-radius: 4px;
  padding: 16px;
}

@media screen and (min-width: 1200px) {
  .card__item {
    width: calc(33.3% - 24px * 2 / 3);
  }
  .card__item:not(:nth-child(3n + 1)) {
    margin-left: 24px;
  }
}

@media (min-width: 950px) and (max-width: 1200px) {
  .card__item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card__item:not(:nth-child(2n + 1)) {
    margin-left: 24px;
  }
}

@media (min-width: 768px) and (max-width: 949px) {
  .card__item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card__item:not(:nth-child(2n + 1)) {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .card__item {
    width: 100%;
    display: inline-block;
    margin: 0 20px 24px 20px;
  }
}

.card__image {
  text-align: center;
}

.card__image img {
  width: 100%;
}

.card__title {
  font-size: 20px;
  margin: 0 16px 0 16px;
  font-weight: bold;
}

.card__text {
  font-size: 16px;
  margin: 0 17px 0px 16px;
  font-weight: bold;
  color: #6f7579;
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #6f7579;
  line-height: 1.5;
}

/*---------------------------------------------------------
access
---------------------------------------------------------*/
.access {
  padding-bottom: 120px;
}

.access__head {
  padding-top: 100px;
  text-align: center;
  font-size: 48px;
}

.access__map {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}

@media (min-width: 950px) and (max-width: 1200px) {
  .access__map {
    padding: 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 949px) {
  .access__map {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .access__map {
    padding: 0 30px;
  }
}

.iframe__wrap {
  margin-top: 80px;
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.iframe__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__info-row {
  width: 800px;
  margin: 16px auto 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access__info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}

.access__info-row dd {
  padding: 0;
  margin: 0;
  width: calc(100%-104px);
}

.access__info-row:not(:first-child) {
  padding-bottom: 50px;
}

@media (min-width: 950px) and (max-width: 1200px) {
  .access__info-row {
    padding: 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 949px) {
  .access__info-row {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .access__info-row {
    padding: 0 30px;
  }
}

.access__button {
  margin: 0 auto;
  text-align: center;
}

.access__button a {
  border-radius: 8px;
  padding: 20px 77px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  background-color: black;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.access__button a:hover {
  opacity: 0.7;
}

.access__button a::after {
  content: "";
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow@2x.png) no-repeat center center/contain;
}

/*---------------------------------------------------------
contact
---------------------------------------------------------*/
.contact {
  background: #efefef;
  padding-bottom: 120px;
  padding-top: 1px;
}

.contact__inner {
  padding: 0 30px;
}

.contact__form {
  width: 800px;
  max-width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 60px;
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__row:not(:first-child) {
  padding-top: 60px;
}

.contact-form__row dt {
  margin: 0;
  padding: 0;
}

.contact-form__row dd {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}

.contact-form__label {
  width: 160px;
  padding-top: 5px;
}

.contact-form__label label {
  font-weight: bold;
}

.contact-form__label label.is-requred {
  display: inline-block;
  position: relative;
}

.contact-form__label label.is-requred::after {
  content: "必須";
  position: absolute;
  text-align: center;
  padding: 2px 6px;
  top: calc(100% + 10px);
  left: 0;
  color: #ffffff;
  background: #e81919;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .contact-form__label label.is-requred::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 10px);
    width: 44px;
  }
}

.contact-form__input {
  width: calc(100% - 160px);
}

@media screen and (max-width: 767px) {
  .contact-form__input {
    width: 100%;
  }
}

.contact-form__input [type="text"] {
  padding: 12px 16px;
  color: black;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .contact-form__input [type="text"] {
    margin-top: 10px;
  }
}

.contact-form__input [type="email"] {
  padding: 12px 16px;
  color: black;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .contact-form__input [type="email"] {
    margin-top: 10px;
  }
}

.contact-form__input select {
  padding: 16px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: black;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  font-family: inherit;
  font-size: 14px;
  background: url(../img/select-arrow@2x.png) no-repeat right 12px center/17px 14px;
}

@media screen and (max-width: 767px) {
  .contact-form__input select {
    margin-top: 10px;
  }
}

.contact-form__input textarea {
  padding: 12px 16px;
  color: black;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: 14px;
  height: 240px;
  resize: none;
}

@media screen and (max-width: 767px) {
  .contact-form__input textarea {
    margin-top: 10px;
  }
}

.contact-form__radio {
  padding-top: 32px;
}

.contact-form__radio [type="radio"] {
  display: none;
}

.contact-form__radio span {
  display: inline-block;
  margin-right: 36px;
  padding-left: 26px;
  position: relative;
}

.contact-form__radio span::before {
  content: "";
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-form__radio span::after {
  content: "";
  background: #3f51b5;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.contact-form__radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-form__check {
  padding-top: 67px;
  text-align: center;
}

.contact-form__check [type="checkbox"] {
  display: none;
}

.contact-form__check span {
  padding-left: 49px;
  position: relative;
}

.contact-form__check span::before {
  content: "";
  background: white;
  width: 25px;
  height: 25px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-form__check span::after {
  content: "";
  background: url(../img/check@2x.png) no-repeat center center/contain;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.contact-form__check span a {
  font-weight: bold;
}

.contact-form__check [type="checkbox"]:checked + span:after {
  display: block;
}

.contact-form__button {
  margin: 35px auto 0;
  text-align: center;
}

.contact-form__button [type="submit"] {
  font-size: 16px;
  color: #ffffff;
  width: 300px;
  padding: 20px 120px;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit;
  background: black url(../img/button-arrow@2x.png) no-repeat right 12px center/17px 16px;
  font-family: none;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.contact-form__button [type="submit"]:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .contact-form__button [type="submit"] {
    width: 170px;
    padding: 10px 20px;
  }
}

/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
カンパニー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.campany-inner {
  margin-bottom: 100px;
}

.campany__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  margin-left: 150px;
}

@media (min-width: 768px) and (max-width: 949px) {
  .campany__info-row {
    margin-left: 20px;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .campany__info-row {
    margin-left: 10px;
    font-size: 13px;
  }
}

.campany-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-left {
  margin-left: 30px;
}

.campany-left-image {
  width: 300px;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .campany-left-image {
    display: none;
  }
}

/*---------------------------------------------------------
footer
---------------------------------------------------------*/
.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 40px 24px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 30px 30px 14px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 950px) and (max-width: 1200px) {
  .footer__content {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 949px) {
  .footer__content {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__content {
  margin-bottom: 30px;
}

.footer__logo {
  width: 205px;
  height: 40px;
  margin-bottom: 32px;
}

.footer__left {
  margin-bottom: 30px;
}

.footer__row {
  margin-bottom: 14px;
  font-size: 14px;
}

.footer__center-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__center-item a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  padding-right: 40px;
  font-size: 16px;
}

@media (min-width: 950px) and (max-width: 1200px) {
  .footer__center-item a {
    padding-right: 40px;
  }
}

@media (min-width: 768px) and (max-width: 949px) {
  .footer__center-item a {
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer__center-item a {
    padding-right: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_sns li {
  width: 30px;
  height: 30px;
  margin-left: 16px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer_sns li:hover {
  opacity: 0.3;
}

@media (min-width: 950px) and (max-width: 1200px) {
  .footer_sns {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 949px) {
  .footer_sns {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer_sns {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__copy {
  font-size: 14px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 767px) {
  .footer__center-item a {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .footer__row {
    font-size: 10px;
  }
}

.footer__copy {
  font-size: 10px;
}

/*---------------------------------------------------------
to-topボタン
---------------------------------------------------------*/
.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .to-top {
    right: 12;
    bottom: 12;
  }
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
}

.to-top a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top a:hover {
  opacity: 0.7;
}

.to-top a img {
  width: 60px;
  height: 60px;
}
